.header{
    // width: 80%;
    height: 80px;
    margin-left: 12%;
    background-color: #24478d;
    }
    // .logo{
    //     position: relative;
    //   left: 60px;
    // }
    .log{
       position: relative;
       left: 1080px;
       top: -45px;
    }
    .foulen{
      position: relative;
      top: -95px;
      right: 85px;
      font-family: Champagne&LimousinesThick;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
    }
    .hello{
      position: relative;
      top: -99px;
      right: 151px;
      font-family: Champagne&Limousines;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
    
    }
    .notif{
        margin-left: 975px;
        padding-top: 5px;
    }

    .msg{
        margin-left: 1022px;
        margin-top: -23px;
    }

    .slach{
        margin-left: 1005px;
        color: #ffffff;
        margin-top: -30px;
    }

    .pic{
        margin-left: 40px;
        padding-top: 25px;
    }

    .search_input{
        width: 33px;
        height: 9px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: normal;
        text-align: left;
        color: #b6c6e5;
        margin-left: 70px;
        margin-top: -34px;
    }
    
    
    // .logout{
    //   position: relative;
    //   left: 1445px;
    //   top: -55px;
    //   font-family: Champagne&LimousinesThick;
    //   font-size: 14px;
    //   font-weight: normal;
    //   font-stretch: normal;
    //   font-style: normal;
    //   line-height: normal;
    //   letter-spacing: normal;
    //   text-align: left;
    //   color: #ffffff;
    // }