.sisou{
    width: 180px;
    height: 837px;
    background-color: #ffffff;
    margin-top: -100px;
}
.sisou_img{
    margin-top: 50px;
    margin-left: 30px;
    width: 140px;
}
.dashboard
{
    margin-left: 60px;
    margin-top: 70px;
}

.titre2{
    font-family: Champagne&LimousinesThick;
    font-size: 15px;
    color: #24478d;
    margin-left: -10px;
}

.logout_img{
    margin-left: -15px;
    width: 20px;
    margin-top: 350px;   
}
.titre3{
    font-family: Champagne&LimousinesThick;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #24478d;
  margin-top: -24px;
  margin-left: 15px;
}
